@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #172033;
  background: #ffffff;
}

a {
  text-decoration: none;
}

button, a {
  font-family: inherit;
}

a.text-white {
  color: white !important;
}
